*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 2rem 14.5rem;
    font-size: 2.3rem;


    &__logo {
        color: white;
    }

    &__logoLeft {
        padding: 1rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color .2s;

        &:hover {
            color: #ccc;
        }
    }

    &__logoRight {
        padding: 1rem;
        letter-spacing: 1px;
        color: white;
    }

    &__btns {
        display: flex;
    }

    &__btn {
        padding: 1rem 3rem;
        border-radius: 8px;

        &--one {
            border: 1px solid white;
            color: white;
            background-color: #222;
            text-decoration: none;

        }

        &--two {
            margin-left: 1.4rem;
            color: white;
            background-color: #4C5FD5;
            cursor: pointer;
            transition: color .2s, background-color .2s;

            &:hover {
                background-color: white;
                color: #000000;
            }
        }
    }
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11rem 2rem;
    background-color: #dadbf1;

    &__bar {
        width: 37%;
    }



    &__title {
        font-weight: 400;
        letter-spacing: -5px;
        font-size: 8rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__search {
        padding: 1rem 1rem;
        border-radius: 4px;
        width: 100%;
        height: 6rem;
        border: 1px solid black;
        box-shadow: 0 9px 14px 0 rgb(0 0 0 / 10%);
    }
}